*,
 ::before,
 ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    text-decoration: none;
    transition: all .2s ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
}

a {
    list-style: none;
    text-decoration: none;
    transition: all .2s ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
    &:hover,
    &:focus {
        text-decoration: none;
        color: white;
    }
}

.h2 {
    color: white;
    font: 700 32px/1 'PT Sans', sans-serif;
    text-transform: uppercase;
    &--team {
        color: #665f60;
    }
}

.h3 {
    font: 700 24px/24px 'PT Sans', sans-serif;
    text-transform: uppercase;
}

input {
    outline: none;
}

body {
    font: 16px/16px 'PT Sans', sans-serif;
    color: #665f60;
    background-color: #ebebeb;
}


/*BUTTON*/

.button {
    color: grey;
    font-size: 18px;
    font-style: italic;
    width: 165px;
    height: 50px;
    outline: none;
    cursor: pointer;
    border: 1px solid grey;
    background-color: transparent;
    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transform: scale(1.01);
    }
    &-works {
        color: white;
        border: 1px solid white;
        &:hover {
            color: #9f9acf;
            border: 1px solid #9f9acf;
        }
    }
}


/*NAVBAR*/

.nav-link {
    color: white;
    font: 18px/1 'PT Sans', sans-serif;
    position: relative;
    &::before {
        content: "";
        display: inline-block;
        width: 40%;
        position: absolute;
        left: 15px;
        top: 8px;
        background-color: white;
        height: 1px;
        opacity: 0;
        transition: all .2s ease-in-out;
    }
    &:hover::before {
        opacity: 1;
        top: 0;
        transition: all .2s ease-in-out;
    }
}

.menu-open {
    display: inline-block;
    position: absolute;
    top: 80px;
    right: 30px;
    transition: all .2s ease-in-out;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        display: none;
    }
}


/*HEADER*/

.header {
    background: url(../img/header-bg.png);
    background-size: cover;
    background-position: center;
    height: 850px;
    padding-top: 40px;
    &-content {
        width: 600px;
        margin-top: 6rem;
        color: white;
    }
    &-title {
        font: 40px/50px 'PT Sans', sans-serif;
        text-transform: uppercase;
    }
    &-subtitle {
        margin-top: 3rem;
        font-style: italic;
    }
}

@media (min-width: 992px) {}


/*About US*/

.about {
    margin-top: 5rem;
    height: 600px;
    &-img {
        background: url(../img/about-us.png);
        background-size: cover;
        background-position: center;
        height: 500px;
    }
    &-content {
        margin-top: 80px;
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {}


/*ABOUT*/

.services {
    min-height: 750px;
    padding-top: 50px;
    &-img {
        background: url(../img/service.png);
        background-size: cover;
        color: white;
        min-height: 700px;
        width: 300px;
    }
    &-card {
        max-width: 380px;
        height: 350px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--design {
            background-color: #dbdbdb;
        }
        &:hover {
            background-color: #9f9acf;
            transform: scale(1.02);
        }
    }
    &-text {
        width: 190px;
        font-style: italic;
    }
    &-quote {
        font-style: italic;
        &--autor {
            font-weight: 700;
        }
    }
}


/*WORKS*/

.works {
    width: 100%;
    min-height: 1000px;
    background: url(../img/works.png);
    background-size: cover;
    &-slider {
        width: 1110px;
        height: 550px;
        margin-top: 50px;
    }
    &-item {
        width: 1100px;
        height: 540px;
    }
}

//OUR TEAM
.team {
    width: 100%;
    height: 830px;
    border: 1px solid green;
    &-slider {
        margin: 0 auto;
        max-width: 1140px;
        padding: 126px 15px 0;
        position: relative;
        top: -90px;
    }
    &-cards {
        width: 380px;
        min-height: 485px;
        padding: 130px 15px 0;
        border: 1px solid red;
        &--wrap {
            width: 100%;
            background-color: white;
            position: relative;
        }
    }
    &-img {
        position: absolute;
        border-radius: 50%;
        border: 10px solid #ebebeb;
        transform: translate(25%, -50%);
    }
}

#map {
    width: 100%;
    min-height: 900px;
}

//SLIDER
.slick-dots li.slick-active button {
    background: #ebebeb;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    color: transparent;
    border: 2px solid #ebebeb;
    border-radius: 50%;
    background: transparent;
    outline: none;
}

.slick-dots li,
.slick-dots li button {
    width: 10px;
    height: 10px;
    cursor: pointer;
}

li .slick-active {
    width: 10px;
    height: 10px;
    background-color: white;
}

//CONTACT 
.contact {
    position: relative;
    overflow: hidden;
    &-content {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(159, 154, 207, 0.5);
    }
    &-info {
        width: 350px;
        height: 90px;
        position: relative;
        background-color: rgba(255, 255, 100%, .8);
        left: calc( 100% - 1px);
        transition: 1s;
        &:hover {
            left: calc(100% - 300px)
        }
        &--img {
            width: 90px;
            height: 90px;
            background-color: #9f9acf;
        }
        &--text {
            flex-grow: 1;
        }
    }
    &-forms {
        max-width: 950px;
        height: 400px;
        margin: 0 auto;
        padding: 40px 10px 10px;
    }
    &-input {
        width: 45%;
        border-radius: 3px;
        outline: none;
        border: none;
        flex-grow: 1;
        height: 55px;
        padding: 0 25px;
        font-style: italic;
        background-color: rgba(235, 235, 235, .5);
        color: #665f60;
        &::placeholder {
            color: white;
            font-style: italic;
        }
        &:focus {
            background-color: rgba(235, 235, 235, .9);
        }
        &--textarea {
            width: 100%;
            height: 270px;
        }
    }
    &-btn {
        width: 290px;
        height: 70px;
        border-radius: 4px;
        background-color: #9f9acf;
        font: 700 20px/26px 'Proxima Nova', sans-serif;
        text-transform: uppercase;
        vertical-align: middle;
        color: #ebebeb;
        border: none;
        &:hover {
            border: 3px solid #9f9acf;
            background-color: #dbdbdb;
            color: #9f9acf;
        }
    }
}

#map {
    width: 100%;
    min-height: 900px;
}


/*FOOTER*/

.footer {
    height: 185px;
    background-color: #9f9acf;
    padding-top: 50px;
    color: white;
    font-size: 20px;
    &-icon {
        width: 35px;
        height: 35px;
        background-color: white;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 10px;
        text-align: center;
        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            transform: scale(1.02);
        }
    }
    &-social {
        color: #9f9acf;
        font-size: 30px;
        vertical-align: middle;
    }
}

@media screen and (max-width: 800px) {
    .footer-menu {
        flex-direction: column;
        align-items: center;
    }
    .footer-text {
        text-align: center;
    }
    .icon-social {
        margin-right: 50px;
    }
}